<header>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Produtos
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" [routerLink]="'/produto-cadastrado'">Produtos Cadastrados</a></li>
        <li><a class="dropdown-item" [routerLink]="'/produto'">Cadastrar Produto</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Usuários
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Usuários Cadastrados</a></li>
        <li><a class="dropdown-item" href="#">Cadastrar Usuário</a></li>
        </ul>
    </div>
</header>